@font-face {
    font-weight: 500;
    font-family: Rubik;
    src: url("../fonts/Rubik-Medium.ttf");
}

@font-face {
    font-weight: 700;
    font-family: Rubik;
    src: url("../fonts/Rubik-Bold.ttf");
}

@font-face {
    font-weight: 300;
    font-family: Rubik;
    src: url("../fonts/Rubik-Light.ttf");
}

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Rubik;
    scroll-behavior:smooth;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 70%;
    /* max-width: 60%; */
    margin: 0 auto;
    flex-grow: 1;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    list-style: none;
}


a {
    text-decoration: none;
    color: inherit;
}

p{
    font-weight: 300;
}

.section-title {
    margin-bottom: 25px;
    font-size: 48px;
    text-transform: uppercase;
}

main, header {
    overflow: hidden;
}

header {
    position: relative;
    background: linear-gradient(#dbdbd2, white);
    padding: 20px 0 60px;
    position: relative;
    z-index: -2;
}

header::before {
    position: absolute;
    content: "";
    width: 200%;
    height: 270px;
    background: url("../img/полукруг_светлый.svg");
    top: 0;
    left: -68px;
    z-index: -3;
}

.header-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul,
.header-other {
    display: flex;
    gap: 20px;
}

.header-other {
    gap: 25px;
}

.header__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 190px;
}

.header__title {
    max-width: 640px;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
}

.header__title > span {
    color: #32bfce;
}

.header__content {
    font-weight: 300;
    max-width: 355px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 45px;
}

.btn {
    padding: 10px 30px;
    background: #ff5b35;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: 300;
}

.star-main {
    position: absolute;
    bottom: 40px;
    z-index: -1;
}

.flower-main {
    position: absolute;
    right: 0;
    top: 135px;
    z-index: -1;
}

.about-us {
    margin-top: 110px;
    margin-bottom: 70px;
}

.about-us__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}


.about-us__text {
    max-width: 490px;
}

.about-us__text:not(:last-child){
    margin-bottom: 10px;
}

.categories-games {
    margin-bottom: 70px;
}

.categories-games__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 68px;
}

.category-game {
    padding: 35px;
    border-radius: 20px;
}

.category-game_pink {
    background-color: #f3e5f4;
}

.category-game_blue {
    background-color: #daf3f5;
}

.category-game_yellow {
    background-color: #f6eed1;
}

.category-game {
    font-size: 14px;
}

.category-game__text {
    margin-top: 10px;
    margin-bottom: 20px;
}

img.category-game__img {
    width: 90px;
    height: 115px;
    display: block;
    margin: 0 auto;
}

.bingo-bongo {
    background-color: #f0f0eb;
    border-radius: 15%;
    padding: 100px 0;
    margin-bottom: 70px;
}

.bingo-bongo > .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bingo-bongo__text {
    max-width: 405px;
    text-align: center;
}

.bingo-bongo__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 90px;
    margin-top: 60px;
}

.bingo-bongo__item {
    position: relative;
}

.bingo-bongo__item img.item-img {
    max-width: 165px;
}


.item-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    max-width: 125px;
    text-align: center;
}

.text_up {
    top: 25%;
    left: 30%;
}

.text_down {
    top: 75%;
    left: 44%;
    text-align: start;
}

.favorite-games__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 237px;
}

.favorite-games__title {
    margin: 0;
    max-width: 470px;
}

.favorite-games__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: min-content;
    gap: 25px;

}

.favorite-games__item  {
    position: relative;
    background-color: #f0f0eb;
}

.favorite-games__item:nth-child(1) {
    border-radius: 50px;
    border-bottom-left-radius: 185px;
}

.favorite-games__item:nth-child(2) {
    border-radius: 100%;
}

.favorite-games__item:nth-child(3) {
    border-radius: 50px;
}

.favorite-games__text {
    max-width: 120px;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    top: 38px;
    font-weight: 700;
}

.sale-games {
    margin: 70px 0;
    padding: 150px 0;
    background: no-repeat center url("../img/photo.png");
    background-size: cover;
    position: relative;
}


.sale-games__title {
    width: min-content;
    margin-bottom: 20px;
}

/* .sale-games > img {
    position: absolute;
    left: 219px;
    top: 154px;
} */

.sale-games__img-heart span {
    position: absolute;
    font-size: 14px;
    font-weight: 700;
    color: #32bfce;
    width: 80px;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: rotateZ(330deg);
    top: 25px;
    left: 20px;
}

.sale-games__img-heart {
    position: relative;
    display: inline-block;
    left: 262px;
    top: 64px;
}


.sale-games__text {
    max-width: 400px;
    margin-bottom: 30px;
}

.town-game {
    margin: 90px 0;
}

.town-game__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.col-1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.town-game__tabs {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: #f0f0eb;
    border-radius: 12px;
    align-items: center;
}

.town-game__item {
    padding: 10px 40px;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    border: none;
}

/* .town-game__item.active {
    background-color: #f5d961;
} */

.town-game__item:focus {
    background-color: #f5d961;
    outline: none;
}

.card-description__text:not(:last-child) {
    margin-bottom: 20px;
}

.town-game__quality {
    display: flex;
    gap: 25px;
    align-items: center;
    font-weight: 700;
    margin-bottom: 20px;
}

.quality__tag {
    background-color: #daf3f5;
    padding: 10px 25px;
    border-radius: 10px;
}

.town-game__title,
.game_libraries__title {
    margin-bottom: 10px;
}

.form {
    max-width: max-content;
}

.town-game__text {
    max-width: 530px
}

.town-game__parameters {
    margin: 25px 0;
    display: flex;
    gap: 45px;

}

.town-game__parametr {
    font-weight: 700;
}

.town-game__buy {
    display: flex;
    align-items: center;
    gap: 55px;
}

.town-game__price {
    font-size: 24px;
}

.game_libraries__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 120px;
}

.game_libraries__description {
    max-width: 410px;
    display: block;
    margin: 0 auto;
}

.game_libraries__text {
    margin-bottom: 10px;
}

.game_libraries__about {
    position: relative;
}

.about-img {
    position: absolute;
}


.about-img-flower {
    top: 75px;
}

.about-img-fire {
    left: 160px;
}

.about-img-rhomb {
    right: -67px;
    top: 53px;
}

.about-img-arrow {
    top: 162px;
    left: 137px;
}

.about-img p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
}

.about-img-arrow p {
    transform: rotateZ(345deg);
    top: 64px;
    left: 38px;
}

.about-img-fire p {
    top: 113px;
    left: 78px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 38px;
}

.input-item {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    gap: 8px;
    font-weight: 300;
}

.input-item > label {
    color: #a5aab2;
}

.input-item > input {
    padding: 9px 10px;
    border: 1px solid #a5aab2;
    border-radius: 10px;
    background-color: #f0f0eb;
}

.game-levels__text,
.level,
.accept label {
    margin-bottom: 8px;
    font-weight: 300;
}

.game-levels__inputs > input:not(:first-child) {
    margin-left: 15px;

}

.game-levels__inputs > input {
    margin-right: 5px;
}

.accept {
    margin: 30px 0;

}

.accept label {
    margin-left: 10px;
}

.footer {
    background-color: #e8e7df;
    padding: 70px 0;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
}

.footer__bingo-bongo,
.footer__privacy {
    font-size: 12px;
}

.networks {
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer__privacy {
    text-decoration: underline;
}

.game-libraries {
    position: relative;
    background-color: #f0f0eb;
    padding: 90px 0 120px;
    margin-top: 155px;
}

.game-libraries::before {
    position: absolute;
    content: "";
    width: 200%;
    height: 270px;
    background: url("../img/полукруг.svg");
    top: -236px;
    left: -68px;
}
.btn-up {
    position: fixed;
    width: max-content;
    bottom: 30px;
    right: 40px;
}

.town-game__img {
    width: 100%;
}


/* custom input(type=radio)*/
input[type="radio"]{
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border: 1px solid rgb(59, 59, 59);
    border-radius: 100%;
}

input[type="radio"]::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 100%;
}

input[type="radio"]:checked::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2.5px solid black;
    border-radius: 100%;
}


/* custom input(type=checbox)*/

input[type="checkbox"]{
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border: 1px solid rgb(104, 103, 103);
    overflow: hidden;
}

input[type="checkbox"]::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: inherit;
}

input[type="checkbox"]:checked::before {
    content: url("../img/check.svg");
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    padding-bottom: 16px;
    padding-left: 1px;
}


@media screen and (max-width:2350px) {
    .sale-games__img-heart {
        left: 230px;
    }
}

@media screen and (max-width:2168px) {
    .sale-games__img-heart {
        left: 195px;
    }
}

@media screen and (max-width:1910px) {
    .sale-games__img-heart {
        left: 145px;
    }
}

@media screen and (max-width:1850px){
    .favorite-games__wrapper {
        gap: 65px;
    }
}


@media screen and (max-width:1600px) {
    .sale-games__img-heart {
        left: 100px;
    }
    .container {
    max-width: 80%;
    }

    .sale-games__img-heart span {
        font-size: 11px;
        width: min-content;
        top: 30px;
    }
    .bingo-bongo__items {
        justify-content: center;
        flex-wrap: wrap;
    }

    .bingo-bongo__items {
        gap: 65px;
    }

    .sale-games__wrapper {
        padding-left: 50px;
    }

}

@media screen and (max-width:1400px) {
    .sale-games__img-heart {
        left: 80px;
    }

    .favorite-games__wrapper {
        gap: 40px;
    }

    .footer {
        padding: 55px 0;
    }
}




@media screen and (max-width:1332px) {

    .about-us__wrapper {
        justify-content: center;
    }
}

@media screen and (max-width:1270px) {
    .town-game__tabs {
        padding: 2px;
    }
}


@media screen and (max-width:1140px) {
    .container{
        width: 95%;
    }

    .categories-games__wrapper {
        justify-content: center;
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }

    .sale-games__img-heart {
        display: none;
    }

    .categoties-games {
        flex-wrap: wrap;
        justify-content: center;
    }

    .bingo-bongo__items {
        gap: 50px;
    }

    .game_libraries__wrapper {
        grid-template-columns: 1fr;
    }

    .form {
        margin: 0 auto;
        margin-top: 200px;
    }

    .town-game__wrapper {
        grid-template-columns: 1fr;
        gap: 80px;
    }

    .town-game__tabs {
        width: max-content;
    }

    .col-2 {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer {
        padding: 40px 0;
    }
}


@media screen and (max-width:960px) {
    nav {
        display: none;
    }
}


@media screen and (max-width:740px) {
    .footer__wrapper {
        gap: 20px;
        flex-direction: column;
    }
}

@media screen and (max-width:550px) {
    .favorite-games__item:nth-child(1) {
        border-radius: 35px;
        border-bottom-left-radius: 126px;
    }

    .favorite-games__items {
        justify-content: center;
    }

    .favorite-games__item:nth-child(1) img{
        width: 400px;
    }

    .town-game__tabs {
        max-width: 100%;
    }

    .town-game__item {
        padding: 10px 12px;
        font-size: 14px;
    }

    .about-img {
        max-width: min-content;
    }

    .about-img img{
        width: 90px;
    }

    .about-img-flower {
        top: 20px;
        left: 30%;
        transform: translate(-30%);
    }

    .about-img-fire {
        left: 80%;
        transform: translate(-80%);
    }

    .about-img-rhomb {
        top: 145px;
        left: 225px;
    }

    .about-img-arrow {
        top: 145px;
        left: 75px;
    }

    .about-img > p {
        font-size: 12px;
        width: max-content;
    }

    .about-img-fire p {
        top: 70px;
        left: 47px;
    }

    .about-img-arrow img{
        width: 135px;
    }

    .about-img-arrow > p {
        top: 24px;
        left: 6px;
    }

    .form {
        margin-top: 120px;
    }

    .about-us__description > img{
        width: 100%;
    }
}
